<div class="container mt-5">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h5>Add Employee</h5>
                </div>
                <div class="card-body">
                    <form>
                        <div class="form-group mb-3">
                            <label for="name">Name</label>
                            <input type="text" class="form-control" name="name" [(ngModel)]="formObj.name" placeholder="Enter name">
                        </div>
                        <div class="form-group mb-3">
                            <label for="age">Age</label>
                            <input type="age" class="form-control" name="age" [(ngModel)]="formObj.age" placeholder="Enter age">
                        </div>
                        <div class="form-group mb-3">
                            <label for="email">Email</label>
                            <input type="email" class="form-control" name="email" [(ngModel)]="formObj.email" placeholder="Enter email">
                        </div>
                        <div>
                            <button class="btn btn-primary" (click)="onUpdate()">Update</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>